
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.item--L4Z {
  box-sizing: border-box;
  padding: 24rem 5.4rem 24.6rem 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4rem;
}
.item--L4Z .title-section-QaD {
  margin: 0rem 13.5rem 0.1rem 12.7rem;
  width: calc(100% - 26.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--L4Z .title-section-QaD .item--w4M {
  margin: 0rem 1rem 0.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L4Z .title-section-QaD .item--ptq {
  margin-left: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L4Z .auto-group-7rjm-wiZ {
  margin: 0rem 0rem 0.8rem 0.6rem;
  width: 31.5rem;
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.item--L4Z .auto-group-7rjm-wiZ .label-bg-GVw {
  box-sizing: border-box;
  padding: 1.5rem 1.65rem;
  width: 31.5rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 4.5rem;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
}
.item--L4Z .auto-group-7rjm-wiZ .label-bg-GVw .placeholder-PKf {
  width: 4.85rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--L4Z .auto-group-7rjm-wiZ .label-bg-GVw .placeholder-PKf .iconly-light-message-82M {
  margin-right: 1.15rem;
  width: 1.5rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L4Z .auto-group-7rjm-wiZ .label-bg-GVw .placeholder-PKf .email-rDF {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L4Z .auto-group-7rjm-wiZ .frame-3-YLy {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 15.8rem;
  top: 0;
  overflow: hidden;
}
.item--L4Z .label-bg-561 {
  margin: 0rem 0rem 6.1rem 0.6rem;
  box-sizing: border-box;
  padding: 1.5rem 1.706rem 1.5rem 1.819rem;
  width: calc(100% - 0.6rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--L4Z .label-bg-561 .placeholder-N57 {
  margin-right: 21.2062rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--L4Z .label-bg-561 .placeholder-N57 .iconly-light-lock-Wx1 {
  margin: 0rem 1.339rem 0rem 0rem;
  width: 1.1419rem;
  height: 1.3875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L4Z .label-bg-561 .placeholder-N57 .password-END {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L4Z .label-bg-561 .hide-password-ZvH {
  margin-top: 0.0205rem;
  width: 1.3875rem;
  height: 1.1831rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L4Z .button-large-register-46M {
  margin: 0rem 0.3rem 2.4rem 0.3rem;
  width: calc(100% - 0.6rem);
  height: 6rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1517;
  border-radius: 9.9rem;
  box-shadow: 0 1rem 2.2rem rgba(149, 173, 254, 0.3000000119);
  flex-shrink: 0;
}
.item--L4Z .or-GCR {
  margin: 0rem 0.6rem 1rem 0rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.item--L4Z .or-GCR .vector-67-PXw {
  width: 14.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L4Z .or-GCR .or-wJZ {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d1517;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--L4Z .or-GCR .vector-68-sT7 {
  width: 14rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--L4Z .login-social-media-cvV {
  margin: 0rem auto 1rem auto; /* 가운데 정렬을 위한 마진 조정 */
  width: auto; /* 너비를 자동으로 조정 */
  height: 5rem;
  display: flex;
  justify-content: center; /* 가운데 정렬을 위한 속성 추가 */
  align-items: center;
}
.item--L4Z .login-social-media-cvV .group-9684-YZF {
  box-sizing: border-box;
  padding: 1.5rem;
  height: 100%;
  border: solid 0.08rem #ddd9da;
  border-radius: 1.4rem;
}
.item--L4Z .login-social-media-cvV .group-9684-YZF .google-logo-png-suite-everything-you-need-know-about-google-newest-0-2-hBF {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.item--L4Z .login-social-media-cvV .group-9683-nTb {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

div > input{
  background-color: #f7f8f8;
  width: 200px;
  height: 28px;
}
