
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.item--jMT {
  box-sizing: border-box;
  padding: 7.1rem 5.6rem 3.7rem 5.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4rem;
}
.item--jMT .profile-text-E3K {
  margin: 0rem 7.8rem 3.2rem 6.1rem;
  width: calc(100% - 13.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--jMT .profile-text-E3K .item--m3F {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .profile-text-E3K .item--Tgm {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b6f72;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq {
  margin-bottom: 43.6rem;
  width: 100%;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-TaH {
  box-sizing: border-box;
  padding: 1.5rem 1.875rem 1.5rem 1.706rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-TaH .placeholder-Nx9 {
  margin-right: 18.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-TaH .placeholder-Nx9 .iconly-light-2-user-Xa9 {
  margin: 0.004rem 1.208rem 0rem 0rem;
  width: 1.386rem;
  height: 1.3168rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-TaH .placeholder-Nx9 .choose-gender-e8y {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-TaH .dropdown-Nqf {
  width: 1.05rem;
  height: 0.525rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-6Fs {
  box-sizing: border-box;
  padding: 1.5rem 1.725rem;
  width: 100%;
  height: 4.8rem;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-6Fs .placeholder-qDT {
  width: 4.075rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--jMT .label-section-XAq .label-bg-6Fs .placeholder-qDT .iconly-light-calendar-awj {
  margin-right: 1.225rem;
  width: 1.35rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-bg-6Fs .placeholder-qDT .date-of-birth-iHF {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-dQD {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-dQD .label-bg-yys {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 25.2rem;
  height: 100%;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-dQD .label-bg-yys .placeholder-XVb {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--jMT .label-section-XAq .label-dQD .label-bg-yys .placeholder-XVb .weight-scale-1-g7b {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-dQD .label-bg-yys .placeholder-XVb .your-weight-pDo {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-dQD .button-kg-8kH {
  width: 4.8rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1517;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-pND {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-pND .label-bg-n49 {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.7125rem;
  width: 25.2rem;
  height: 100%;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-pND .label-bg-n49 .placeholder-iiV {
  width: 3.3875rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--jMT .label-section-XAq .label-pND .label-bg-n49 .placeholder-iiV .iconly-light-swap-ftd {
  margin: 0rem 1.231rem 0rem 0rem;
  width: 1.3563rem;
  height: 1.2249rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-pND .label-bg-n49 .placeholder-iiV .your-height-PJq {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .label-section-XAq .label-pND .button-cm-i6D {
  width: 4.8rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1517;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--jMT .button-BEh {
  box-sizing: border-box;
  padding: 1.8rem 13.408rem 1.8rem 13.6rem;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  box-shadow: 0 1rem 2.2rem rgba(149, 173, 254, 0.3000000119);
  background-color: #1d1517;
  border-radius: 9.9rem;
  flex-shrink: 0;
}
.item--jMT .button-BEh .next-K61 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--jMT .button-BEh .next-K61 .next-GX3 {
  margin-right: 1.9083rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--jMT .button-BEh .next-K61 .iconly-light-arrow-right-2-o1B {
  margin-top: 0rem;
  width: 0.5833rem;
  height: 1.1667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

body {
  background-color: #ebd7ca;
}